#wrapper{
    text-align: center; 
    background: gainsboro; 
    margin: auto 100px;
}

#content{
    width: 300px; 
    text-align: center; 
    margin: auto auto; 
}

#divFormulario{
    text-align: right;
}

#enlace_productos{
    text-align: right;
}

#content_admin_productos{
    width: 600px;
    text-align: center;
    margin:  auto auto;
}